
<p>Competência</p> @ViewData["titulo"] <!--Competência Vindo da pasta controller-->

@{
  var competencia = ViewData ["tablebloom"] as Competencia;  // @{taca-lhe C#}
}


<div class="container">
  <div class="row">
    <div class="col">
   Memorizar
    </div>
    <div class="col">
   Compreender
    </div>
    <div class="col">
    Aplicar
    </div>
    <div class="col">
    Analisar
    </div>
    <div class="col">
   Avaliar
    </div>
    <div class="col">
     Criar
</div>
  <!-- Linha 2 -->
  
  <div class="container">
  <div class="row">
    <div class="col">
    @competencia?.LinhaBloom
    </div>
    <div class="col">
    Linha 2 - Coluna 2
    </div>
    <div class="col">
    Linha 2 - Coluna 3
    </div>
    <div class="col">
    Linha 2 - Coluna 4
    </div>
    <div class="col">
    Linha 2 - Coluna 5
    </div>
    <div class="col">
    Linha 2 - Coluna 6
</div>

 <!-- Linha 3 -->

  <div class="container">
  <div class="row">
    <div class="col">
    Linha 3 - Coluna 1
    </div>
    <div class="col">
    Linha 3 - Coluna 2
    </div>
    <div class="col">
    Linha 3 - Coluna 3
    </div>
    <div class="col">
    Linha 3 - Coluna 4
    </div>
    <div class="col">
    Linha 3 - Coluna 5
    </div>
    <div class="col">
    Linha 3 - Coluna 6
</div>

<!-- Linha 4 -->

  <div class="container">
  <div class="row">
    <div class="col">
    Linha 4 - Coluna 1
    </div>
    <div class="col">
    Linha 4 - Coluna 2
    </div>
    <div class="col">
    Linha 4 - Coluna 3
    </div>
    <div class="col">
    Linha 4 - Coluna 4
    </div>
    <div class="col">
    Linha 4 - Coluna 5
    </div>
    <div class="col">
    Linha 4 - Coluna 6
</div>
<!-- Linha 5 -->

  <div class="container">
  <div class="row">
    <div class="col">
    Linha 5 - Coluna 1
    </div>
    <div class="col">
    Linha 5 - Coluna 2
    </div>
    <div class="col">
    Linha 5 - Coluna 3
    </div>
    <div class="col">
    Linha 5 - Coluna 4
    </div>
    <div class="col">
    Linha 5 - Coluna 5
    </div>
    <div class="col">
    Linha 5 - Coluna 6
</div>

<!-- Linha 6 -->
  <div class="container">
  <div class="row">
    <div class="col">
    Linha 6 - Coluna 1
    </div>
    <div class="col">
    Linha 6 - Coluna 2
    </div>
    <div class="col">
    Linha 6 - Coluna 3
    </div>
    <div class="col">
    Linha 6 - Coluna 4
    </div>
    <div class="col">
    Linha 6 - Coluna 5
    </div>
    <div class="col">
    Linha 6 - Coluna 6
</div>

<!-- Linha 7-->
  <div class="container">

  <div class="row">
    <div class="col">
    Linha 7 - Coluna 1
    </div>
    <div class="col">
    Linha 7 - Coluna 2
    </div>
    <div class="col">
    Linha 7 - Coluna 3
    </div>
    <div class="col">
    Linha 7 - Coluna 4
    </div>
    <div class="col">
    Linha 7 - Coluna 5
    </div>
    <div class="col">
    Linha 7 - Coluna 6
</div>
</div>


<h6>O nosso projeto atende uma demanda dos professores que educam com Competencia aplicando as técnicas de bloom</h6>
<h1>Se eu não programa html não tem Power BI</h1>
<h3>Quem for no intervalo atras de Exel volte logo</h3>
